/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	main.inner{
		text-align: left;
	}
	main.inner img{
		max-height: 100%;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	main.inner{
		text-align: center;
	}
	main.inner img{
		max-height: 90%;
	}

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {
	header{
		padding: 0;
	}
	/* #app{
		transform: translate( -150px, -50%);
	}	 */

	.logo img{
		width: 250px;
	
	}
	#appform>div{
		display: block;
	}
	main.inner{
		text-align: center;
	}
}

/* Small (sm) */
@media (min-width : 576px) {
	header{
		padding: 40px 50px;
	}
	.logo img{
		width: 300px;
	
	}
	.mt-auto{
		padding-bottom: 40px;
		padding-left: 50px;
		padding-right: 50px;
	}
	#appform>div{
		display: block;
	}
	main.inner{
		text-align: center;
	}

}

/* Medium (md) */
@media (min-width : 768px) {
	/* #app{
		transform: translate( -250px, -50%);
	}	 */
	input{
		width: 300px;
	}
	#appform>div{
		display:inline-block;
	}
	main.inner{
		text-align: center;
		
	}
	.meta{
		margin-top:60px;
		margin-bottom: 60px;
	}
}

/* Large (lg) */
@media (min-width : 992px) {
	/* #app{
		transform: translate( -250px,-50% );
	}	 */
	input{
		width: 360px;
	}
	main.inner{
		text-align: left;
	}
	.meta{
		text-align: left;
	}

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
